/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/app/config/capifony/
/build/
/vendor/
/bin/
/composer.phar

/app/var/*
/app/config/parameters.yml
/web/css/*.css
/web/js/*.js

/web/media/*


/app/Resources/views/admin.html.twig
/app/Resources/views/base.html.twig


/.idea/*
*~
/web/php.ini
/web/.htaccess
.DS_Store
