{% extends 'admin.html.twig' %}

{% block breadcrumb_crumbs %}
    {{ parent() }}
    <li><a href="{{ path('app_faq.admin.faq.index') }}">FAQs</a> <span class="divider">/</span></li>
{% endblock breadcrumb_crumbs %}
