{% extends '@VivoSite/Mailer/layout.html.twig' %}

{% block subject -%}
    {%- autoescape false -%}Reset your password{%- endautoescape -%}
{%- endblock %}

{% block body_text -%}
    {%- autoescape false -%}
A password reset request has been requested at {{ site.shortName }}.

Reset URL: {{ url('vivo_admin.reset.reset_password', {'id': user.id, 'token': user.getPasswordResetToken}) }}

If you did not make this request please delete this email.
    {%- endautoescape -%}
{%- endblock %}

{% block body_html -%}
    <p>A password reset request has been requested at <strong>{{ site.shortName }}</strong>.</p>
    <p>Click <a href="{{ url('vivo_admin.reset.reset_password', {'id': user.id, 'token': user.getPasswordResetToken}) }}">here</a> to reset your password.</p>
{%- endblock %}
