{% extends '@AppCore/Admin/PromoBlockGroup/layout.html.twig' %}

{% block title 'Create Promo Group' %}

{% block breadcrumb_crumbs %}
    {{ parent() }}
    <li class="active">Create Promo Group</li>
{% endblock breadcrumb_crumbs %}

{% block content %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {% include '@AppCore/Admin/PromoBlockGroup/_form.html.twig' with {'form': form, 'group': group} %}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Create Promo Group</button>
        <a href="{{ path('app_core.admin.promo_block_group.index') }}" class="btn"><i class="icon-refresh"></i> Cancel</a>
    </div>
    {{ form_end(form) }}
{% endblock content %}
