{% extends 'admin.html.twig' %}

{% block page_title %}{% endblock page_title %}

{% block topnav %}{% endblock topnav %}
{% block notices %}{% endblock notices %}
{% block breadcrumb %}{% endblock breadcrumb %}

{% block body_class 'vivo_admin_security' %}

{% block content %}
    <form method="post" class="ignore-unsaved-form">
        <h3>{% block title %}Enter Site Password{% endblock title %}</h3>
        {% if app.request.request.has('password') %}
            <div class="control-group error">
                <span class="help-inline">The password you entered is not correct.</span>
            </div>
        {% endif %}
        <fieldset>
            <input type="password" name="password" required="required" class="input-block-level not-removable" placeholder="Password" autofocus="autofocus">
        </fieldset>
        <div class="controls">
            <button type="submit" class="btn btn-primary">Enter</button>
        </div>
    </form>
{% endblock content %}
