
.pin-menu:before { content: '\e800'; } /* '' */
.pin-fax-1:before { content: '\e801'; } /* '' */
.pin-menu-1:before { content: '\e802'; } /* '' */
.pin-1963:before { content: '\e803'; } /* '' */
.pin-mail:before { content: '\e804'; } /* '' */
.pin-phone:before { content: '\e805'; } /* '' */
.pin-instagram-1:before { content: '\e806'; } /* '' */
.pin-youtube:before { content: '\e807'; } /* '' */
.pin-facebook:before { content: '\e808'; } /* '' */
.pin-marker-line:before { content: '\e809'; } /* '' */
.pin-play-circled:before { content: '\e80a'; } /* '' */
.pin-stars:before { content: '\e80b'; } /* '' */
.pin-quotes:before { content: '\e80c'; } /* '' */
.pin-arrow-left:before { content: '\e80d'; } /* '' */
.pin-pin:before { content: '\e80e'; } /* '' */
.pin-blackberry-relief:before { content: '\e80f'; } /* '' */
.pin-pineapple-relief:before { content: '\e810'; } /* '' */
.pin-mango-relief:before { content: '\e811'; } /* '' */
.pin-strawberry-circled:before { content: '\e812'; } /* '' */
.pin-star-relief:before { content: '\e813'; } /* '' */
.pin-arrow-right:before { content: '\e814'; } /* '' */
.pin-down-chevron:before { content: '\e815'; } /* '' */
.pin-tilde-circled:before { content: '\e816'; } /* '' */
.pin-squirt:before { content: '\e817'; } /* '' */
.pin-instagram:before { content: '\e818'; } /* '' */
.pin-fax:before { content: '\e819'; } /* '' */
.pin-auspost:before { content: '\e81a'; } /* '' */
.pin-truck:before { content: '\e81b'; } /* '' */
.pin-hearts:before { content: '\e81c'; } /* '' */
.pin-upload:before { content: '\e81d'; } /* '' */
.pin-download:before { content: '\e81e'; } /* '' */
.pin-blackberry-circled:before { content: '\e81f'; } /* '' */
.pin-pineapple-circled:before { content: '\e820'; } /* '' */
.pin-mango-circled:before { content: '\e821'; } /* '' */
.pin-australia:before { content: '\e822'; } /* '' */
.pin-strawberry-relief:before { content: '\e823'; } /* '' */
.pin-raspberry-circled:before { content: '\e824'; } /* '' */
.pin-raspberry-relief:before { content: '\e825'; } /* '' */