{% extends '@AppCore/Admin/Farm/layout.html.twig' %}

{% block title 'Create Farm' %}

    {% block breadcrumb_crumbs %}
        {{ parent() }}
        <li class="active">Create Farm</li>
    {% endblock breadcrumb_crumbs %}

    {% block content %}
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {% include '@AppCore/Admin/Farm/_form.html.twig' with {'form': form, 'farm': farm} %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Create Farm</button>
            <a href="{{ path('app_core.admin.farm.index') }}" class="btn"><i class="icon-refresh"></i> Cancel</a>
        </div>
        {{ form_end(form) }}
    {% endblock content %}
