<div class="social">
    <a href="{{ app.site.instagramURL }}" target="_blank"><i class="pin-instagram"></i></a>
    <a href="{{ app.site.youtubeURL }}" target="_blank"><i class="pin-youtube"></i></a>
    <a href="{{ app.site.facebookURL }}" target="_blank"><i class="pin-facebook"></i></a>
    <span class="st_sharethis_custom btn btn-primary-alt">Share</span>
</div>