{% extends '@AppCore/Admin/Fruit/layout.html.twig' %}

{% block title 'Create Fruit' %}

    {% block breadcrumb_crumbs %}
        {{ parent() }}
        <li class="active">Create Fruit</li>
    {% endblock breadcrumb_crumbs %}

    {% block content %}
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {% include '@AppCore/Admin/Fruit/_form.html.twig' with {'form': form, 'fruit': fruit} %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Create Fruit</button>
            <a href="{{ path('app_core.admin.fruit.index') }}" class="btn"><i class="icon-refresh"></i> Cancel</a>
        </div>
        {{ form_end(form) }}
    {% endblock content %}
